@model Ballerz.Models.Positions.PositionIndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Position Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var position in Model.PositionList) {
   <h4> @position.Position </h4> 
}
    </tbody>
</table>
