/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
 .body-content {
    padding-left: 35px;
    padding-right: 35px;
   
} 

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}
h1, h2, h3, h4, h5 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: white;
}
p {
    font-family: 'Lato', sans-serif;
}
#Title1 {
  color: white;
}
#Title1:hover {
   color: blanchedalmond;
   transition: 0.5s;
}
#uName {
    color: white;
    
  }
  #uName:hover {
     color: blanchedalmond;
     transition: 0.5s;
  }
li { 
    /* color: white; */
    padding-top: 9px;
}
/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}
.color-white {
    color: white;
}
.frontPageSplash {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-width: 100%;
    min-height: 30em;
    width: 100%;
    height: 30em;
    
    }
    .frontPageSplash::before {
        background-image: url('/images/backgrounds/frontPage.png');
        background-size: cover;
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.6;
        width: 100%;
        height: 100%;
        z-index: -2;
      }
      .frontPageSplash::after {
        background-color: #001333;
        content: "";
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0.5;
      }
.postHeading {
    color: #fff;
    font-size: 1.3em;
    padding: 16px 0 16px 0;

}
/*post styling*/
.postTitle, a {
  
    font-weight: bold;
    color: #fff;
}
.postSubTitle {
   
    font-weight: bold;
    font-size: 0.8em;
}
.postData {
    display: inline-block;
}
.postDate {
    color: #000;
    font-size: 0.8em;
}
.postLogo {
    display: inline-block;
    border-radius: 3px;
    margin-right: 20px;
    height: 40px;
    width: 40px;
    background-color: #ddd;
}
.postAuthorImage {
    height: 80px;
    width: 80px;
    background-size: 100%;
    margin-top: 10px;
}
#postAuthors {
    color: white !important;
}
.postAuthor {
    color: white !important;
}
.postAuthorContainer {
    padding: 12px;
    color: #444;
    
    width: 190px;
}
.postHeader {
    background-color: #212121;
    padding: 8px 0px 24px 24px;
    margin-top: 15px;
}
.frontPageLearn {
    
    padding: 12px 0 0 32px;
    height: 360px;
}
.frontPageHeading {
    font-size: 3.2em;
    color: #5ee9d6;
  
}
.frontPageSubHeading {
    font-size: 2em;
    font-weight: bold;
    color: #fff;
   
    width: 500px;
}
/*forum topic page*/
.searchBar {
    padding: 3px 5px 2px 12px;
    margin: 8px;
    background-color: #333;
    width: 10%;
    transition: ease .3s;
    border: none;
}

.searchBar:focus {
    color: black;
    width: 60%;
    background-color: #fff;
}
.homeSearch {
    width: 100%;
    margin-top: 8px;
    background: rgba(0, 0, 0, 0.1);
    padding: 8px;
    border: 1px solid white;
    height: 2.3em;
    font-size: 2.1em;
    
    font-weight: bold;
    transition: ease-in 0.2s;
}
.homeSearch:focus {
    border: none !important;
    outline: none !important;
    transition: ease-in 0.2s;
    color: #03a9f4;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 5px 4px -6px #000;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
